/app-store.png
/banner.jpg
/brand1.png
/brand2.png
/brand3.png
/brand4.png
/brand5.png
/category1.jpg
/category2.jpg
/category3.jpg
/category4.jpg
/customer1.jpg
/customer2.png
/customer3.jpg
/google-play.png
/latest1.jpg
/latest2.jpg
/latest3.jpg
/latest4.jpg
/offer.jpg
/product1.jpg
/product2.jpg
/product3.jpg
/product4.jpg
/.gitignore
